name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-20.04
    name: Build examples
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.1.4
        with:
          node-version: 16
      - uses: actions/setup-java@v1
        with:
          java-version: 15
          architecture: x64
      - name: Build gradle-ts-protoc-gen
        run: |
          cd examples/gradle-ts-protoc-gen
          npm i
          npm run build
      - name: Build grpc_tools_node_protoc_ts
        run: |
          cd examples/grpc_tools_node_protoc_ts
          npm i
          npm run build
      - name: Build grpc-proto-loader
        run: |
          cd examples/grpc-proto-loader
          npm i
          npm run build
      - name: Build grpc-web
        run: |
          cd examples/grpc-web
          npm i
          npm run build
      - name: Build ts-protoc-gen
        run: |
          cd examples/ts-protoc-gen
          npm i
          npm run build
